<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FA-06/08 StudioSet Editor</title>
    <script src="angular.min.js"></script>
    <script src="jquery-2.1.4.min.js"></script>
    <script src="jquery-ui.min.js"></script>
    <link href="jquery-ui.css" rel="stylesheet">
    <script src="uint8array_ex.js"></script>
    <script src="string_ex.js"></script>
    <script src="array_ex.js"></script>
    <script src="number_ex.js"></script>
    <script src="app.js"></script>
    <script src="fa.js"></script>
    <script src="midi.js"></script>
    <script src="faparams.js"></script>
    <script>
      angular.module("app", []).controller("ctrlLoop", function($scope) {
        $scope.parts = [];
        for (var i = 1; i <= 16; i++) $scope.parts.push(i);
        $scope.octs = [];
        for (var i = -3; i <= 3; i++) $scope.octs.push(i);
        $scope.chs = [];
        for (var i = 1; i <= 16; i++) $scope.chs.push(i);
      }).filter('withSign', function () {
        return function (input) {
          if (input > 0) {
            return ('+' + input)
          } else {
            return ('' + input)
          }
        }
      });
    </script>
  </head>
  <body ng-app="app">
    STUDIO SET: <input id="ss_name" type="text" maxlength="15">

    <div id="tabs">
      <ul>
        <li><a href="#tabs-main">MAIN</a></li>
        <li><a href="#tabs-studioset">EFFECTS</a></li>
      </ul>
      <div id="tabs-main">
        <table id="main_table" border=1 ng-controller="ctrlLoop" align="center">
          <tr><th></th><th>TYPE</th><th>NAME</th><th>KBD</th><th>OCT</th><th>PB</th><th>MOD</th><th>HLD</th><th>CH</th></tr>
          <tr ng-repeat="part in parts">
            <td>{{part}}</td>
            <td><div id='c{{part}}_type'></div></td>
            <td class='tone_names'>
              <input id='c{{part}}_name_pcm' maxlength=12>
              <input id='c{{part}}_name_sns' maxlength=12>
              <input id='c{{part}}_name_sna' maxlength=12>
              <input id='c{{part}}_name_pcmd' maxlength=12>
              <input id='c{{part}}_name_snd' maxlength=12>
            </td>
            <td><input id='c{{part}}_kbd' type='checkbox'><label for='c{{part}}_kbd'>OFF</label></td>
            <td>
              <select id="c{{part}}_oct" >
                <option ng-repeat="oct in octs" value={{oct+64}}>{{oct | withSign}}</option>
              </select>
            </td>
            <td><input id='c{{part}}_pb' type='checkbox'><label for='c{{part}}_pb'>OFF</label></td>
            <td><input id='c{{part}}_mod' type='checkbox'><label for='c{{part}}_mod'>OFF</label></td>
            <td><input id='c{{part}}_hld1' type='checkbox'><label for='c{{part}}_hld1'>OFF</label></td>
            <td>
              <select id="c{{part}}_ch">
                <option ng-repeat="ch in chs" value={{ch-1}}>{{ch}}</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
      <div id="tabs-eq">

      </div>
    </div>
    <button onClick="recieveAll()">recieveAll</button>
  </body>
</html>
